:root{
  --bg: #3881b1;
  --lightB: #609AC1;
  --wh: rgb(255, 255, 255);
  --facebook: #4267B2;
  --github: #161b22;
}

body{
  background-color: var(--bg);
  font-family: sans-serif;
  color: var(--wh);
}

.logoText{
  -webkit-text-stroke: 0.1vw black;
  color: var(--wh);
  font-size: 2vw;
  font-weight:900;
}
.img{
  width: 2.5vw;
  height: 2.5vw;
  float: left;
  border-radius: 3vw;
  border: 0.1vw black solid;
}
.imgBig{
  width: 5.5vw;
  height: 5.5vw;
  float: left;
  border-radius: 3vw;
  border: 0.2vw black solid;
  margin: 0vw 1vw 0 0vw;
}
.username{
  text-shadow: 0.1vw 0.1vw black;
  margin: 3%;
  padding: 0;
}
.usernameBig{
  font-size: 3vw;
  text-shadow: 0.1vw 0.1vw black;
  padding: 0;
  margin: 0;
}
.email{
  margin: 0;
  padding: 0;
  float: top;
  color: #ffffffc4;
}
.profile{
  position: fixed;
  top: 1%;
  right: 1%;
  width: 10vw;
  cursor: pointer;
}
.signInButtons{
  float: right;
}
.no{
  display: none;
}
.logo{
  width: 3vw;
  height: 3vw;
  float: left;
}
.postInput{
  width: 30vw;
  height: 10vw;
  resize: none;
  font-family: sans-serif;
}
.sendButton{
  background-color: var(--lightB);
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1.5vw;
  border: 0.1vw var(--wh) solid;
  border-radius: 1vw;
  cursor: pointer;
}
.posts{
  width: 100%;
  max-width: 100%;
  display: grid;
  overflow:hidden;
  grid-template-columns: repeat(3, auto);
  padding: 0.1vw;
}
.postText{
  background-color: turquoise;
  padding: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  max-width: 39vw;
  overflow-wrap: break-word;
}
.forget{
  position:absolute;
  top: 1%;
  right: 1%;
  font-size: 1vw;
  background-color: var(--lightB);
  border: 0.1vw var(--wh) solid;
  border-radius: 1vw;
  cursor: pointer;

}
.signinB{
  padding: 0.4vw;
  font-size: 2vw;
  margin: 1px;
  border: 0.1vw var(--wh) solid;
  border-radius: 1vw;
  cursor: pointer;
}

.f{
  background-color: var(--facebook);
}
.gi{
  background-color: var(--github);
  color: #f0f6fc;
}
.go{
  background-color: black;
  color: white;
}
.warning{
  background-color: #ff5900;
  margin: 0;
  width: 30vw;
  padding: 0.3vw;
  border-radius: 0.1vw;
}