:root{
  --bg: rgb(56, 129, 177);
  --wh: rgb(255, 255, 255);
}

body{
  -webkit-text-stroke: 0.1vw black;
  background-color: var(--bg);
  font-family: 'Work Sans', sans-serif;
}

.logoText{
  color: var(--wh);
  font-size: 2vw;
  font-weight:900;
}