:root{
  --bg: #3881b1;
  --wh: rgb(255, 255, 255);
}

body{
  background-color: var(--bg);
  font-family: sans-serif;
}

.logoText{
  -webkit-text-stroke: 0.1vw black;
  color: var(--wh);
  font-size: 2vw;
  font-weight:900;
}
.signinButton{
  cursor: pointer;
}